.card {
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 500px;
}

.card .title {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  font-weight: 900;
}

.card .content {
  flex: 1;
  color: #222;
  background-color: #f8f8f8;
  padding: 20px;
}
