.app {
  display: flex;
  height: 100vh;
}

.app .container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #eee;
}
