* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100vh;
  max-width: 100vw;
}

.text {
  font-weight: 300;
  font-size: 3.8rem;
}

.red {
  font-weight: 700;
  color: red;
}

.input {
  font-weight: 300;
  font-size: 4rem;
  margin: 20px 0px;
}

.btn {
  border-radius: 25px;
  margin: 10px;
  padding: 10px 25px;
  border: none;
  outline: none;
  background-color: #0092c3;

  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  min-width: 500px;
}
